*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
}

body,h1,h2,button {
  font-family: 'Courier New', Courier, monospace;
}
.form{
  text-align: center;
  margin-top: 6rem;
}
.form input, .form button {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  padding: 5px;
  margin: 2px;
  border: 1px solid green;
}

button {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.post {
  width: 59%;
  background-color: #fff;
  border: 1px solid #666;
  padding: 10px;
  margin: auto;
  margin-top: 3rem;

}

.post button {
  width: 150px;
  display: inline-block;
  margin: 5px;
}